/* FONTS PATH */
$fa-font-path: "../fonts";

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1000px;
$xxl: 1110px;

/*containers size*/
$container-max-widths: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

$grid-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

/*fonts*/




/*colors*/
$primary: #5B87DA;
$secondary: #353535;
$dark: #8F9AA3;
$gray: #5f5e5e;
$white: #fff;
$light: #e9ecef;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        // "success":    $success,
        // "info":       $info,
        // "warning":    $warning,
        // "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "gray":       $gray,
        "white":      $white
);
